.idea/
Project3.API/.vs/
Project3.API/packages
Project3.API/Project3.API/.vscode
Project3.API/Project3.API/bin
Project3.API/Project3.API/obj
Project3.Web/.vs/
Project3.Web/Project3.Web/.vscode
Project3.Web/Project3.Web/bin
Project3.Web/Project3.Web/node_modules
Project3.Web/Project3.Web/obj
Project3.Web/Project3.Web/wwwroot/dist/
Project3.Web/Project3.Web/package-lock.json
