#logInForm {
  background-color: rgb(248, 252, 236);
  border: rgb(248, 252, 236);
  border-radius: 10px;
}

placeholder {
  font-family: 'Titillium Web', sans-serif;
}

#regReq {
  text-align: center;
  font-size: 30px;
  animation-delay: .5s;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

