<!-- forum with all react components, still may need some converting -->

<!-- Forum Title -->
<div class="container">
    <div class="row">
        <h3 class="welcome">[WHICHEVER] FORUM</h3>
    </div>
</div>

<!-- Forum left main menu box -->
<div class="container">
    <div class="row">
        <h3 class="welcome"> FORUM</h3>
    </div>
    <div class="row">
        <div class="col-sm-2 forumMenu sticky">
            <a href="" class="forumTitle">GENERAL</a><br/>
            <a href="" class="forumTitle">REVIEW</a><br/>
                <p class="forumTitle">PLATFORMS</p>
            <ul>
                <a class="platform" href="">Atari 2600</a><br/>
                <a class="platform" href="">NES</a><br/>
                <a class="platform" href="">Nintendo 64</a><br/>
                <a class="platform" href="">Nintendo Gameboy</a><br/>
                <a class="platform" href="">Super Nintendo</a><br/>
                <a class="platform" href="">Playstation</a><br/>
                <a class="platform" href="">Playstation2</a><br/>
                <a class="platform" href="">Sega Genesis</a><br/>
                <a class="platform" href="">Sega Master System</a><br/>
                <a class="platform" href="">Xbox</a><br/>
            </ul>
        </div>
    </div>
</div>

<!-- Thread Topics -->
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-sm-col-lg-offset-2">
            <table class="table">
                <thead>
                    <tr>
                        <th class="topRow">[THREAD TOPIC NAME]<button id="addThread">NEW THREAD</button></th>
                        <th class="align topRow">AUTHOR</th>
                        <th class="align topRow">CREATED</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a class="artTitle" href="#">Donkey Kong Sucks!</a></td>
                        <td class="align">Luigi</td>
                        <td class="align">4:43pm</td>
                    </tr>
                    <tr>
                        <td><a class="artTitle" href="#">I think they should bring back duck hunt!</a></td>
                        <td class="align">D-Duck</td>
                        <td class="align">3:04am</td>
                    </tr>
                    <tr>
                        <td><a class="artTitle" href="#">Bowzer is really a gentle giant, not a filty rat!</a></td>
                        <td class="align">Link</td>
                        <td class="align">11:21am</td>
                    </tr>
                    <tr>
                        <td>
                        <a class="artTitle" href="#">Donkey Kong Sucks!</a>
                        </td>
                        <td class="align">Luigi</td>
                        <td class="align">4:43pm</td>
                    </tr>
                    <tr>
                        <td>
                        <a class="artTitle" href="#">Donkey Kong Sucks!</a>
                        </td>
                        <td class="align">Luigi</td>
                        <td class="align">4:43pm</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div >
</div>