h1 {
    font-family: 'Audiowide', cursive;
    color:red;
    margin: 0px 0px 0px 15px;
}

.game-grid-container {
    border: 2px solid rgb(248, 252, 236);
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    color:black;
    background-color: rgb(248, 252, 236);
    font-family: 'Audiowide', cursive;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

#gameStats {
    margin-left: 5px
}

.gameImage {
    margin: 5px 5px 5px 40px;
    width: 130px;
    height: 130px;
    border: 1px solid black;
    border-radius: 5px;
}

strong {
    color:red;
    font-family: 'Audiowide', cursive;
    font-size: 15px;
}

.gameName {
    margin: 0px;
    font-size: 15px;
}

#coin {
    margin-top: 0px;
    width: 25px;
    height: 25px;
}

.gameValue, .gameCondition, .gamePlatform  {
    text-align: center;
    padding: 0px;
}

.gameCondition {
    margin-left: 20px;
}

.lifeHeart {
    width: 20px;
    height: 20px;
    background-color: white;
}

.gamePlatform {
    margin-left: 15px;
}

.gameSummary {
    max-width: 100%;
    height: 130px;
    overflow: auto;
    margin: 5px 5px 5px 15px;
}

.actions {
    margin-left: 60px;
}

#edit, #save, #delete {
    margin: 5px;
    height: 20px;
    width: 20px;
    margin-left: 0px;
} 
