h2 {
   font-family: 'Audiowide', cursive;
  color: red;
  text-align: center;
}

h4 {
   font-family: 'Audiowide', cursive;
  color: black;
  text-align: center;
}

.email {
  margin-left: 545px;
  background-color: black;
}

.submitBtn {
  margin-left: 660px;
}

.enterInfo {
  align-content: center;
}

.btn {
   font-family: 'Audiowide', cursive;
  color: white;
  text-align: center;
  background-color: black;
  border: none;
  border-radius: 10px;
}