body {
 background-color:  rgb(75, 72, 72);
}

.welcome {
  font-family: 'Audiowide', cursive;
  color: red;
  text-align: left;
}

.forumMenu {
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
  background-color: rgb(248, 252, 236);
  font-family: 'Audiowide', cursive;
  text-align: left;
  font-size: 18px;
}

ul {
  border-radius: 10px;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: 14px;
  padding-left: 10px;
  padding-right: 2px;
  background-color: rgb(236, 253, 189);
  font-family: 'Titillium Web', sans-serif;
}

.platform {
  color: black;
}

#platformList, #lightGreen, #lightGreen2, #lightGreen3 {
  background-color: rgb(236, 253, 189);
}

.forumTitle {
  color: red;
}

#tableTop {
  background-color: rgb(236, 253, 189);
}

.topRow {
  background-color: rgb(236, 253, 189);
  border: none;
  border-radius: 5px;
}

.thead {
   background-color: rgb(219, 247, 144);
}

#addThread {
  font-size: 10px;
  color: white;
  background-color: black;
  margin-left: 10px;
  border-radius: 10px;
}

.table {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(248, 252, 236);
  font-family: 'Titillium Web', sans-serif;
  color: black;
}

th {
  color: red;
  font-family: 'Audiowide', cursive;
}

.artTitle {
  font-weight: bold;
  color: black;
}

.align {
  text-align: center;
}

#newThreadModal {
  font-family: 'Audiowide', cursive;
  color: red;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 100px;
}

.modal-content {
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-header {
   background-color: #2c2c2c;
   font-size: 30px;
}

.modal-body {
  background-color: rgb(248, 252, 236);
}

.threadTitle {
  border-radius: 10px;
  width: 500px;
  color: black;
  font-family: 'Titillium Web', sans-serif;
}

#submitThread {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.threadBody {
  color: black;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 10px;
}

textarea {
  width: 567px;
  height: 100px;
  overflow: auto;
  color: black;
  font-family: 'Titillium Web', sans-serif;
}