body {
    margin-top: 285px;
  }
  
  .sticky {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
  }
  
  header {
    height: 270px;
    background-color: #2c2c2c;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-color:  #f8edc6;
    /* margin: 5px; */
    padding: 10px;
    font-family: 'Audiowide', cursive;
  }
  
  #arrows {
    height: 150px;
    width: 150px;
    margin-top: 25px;
    margin-left: 20px;
  }
  
  .middle {
    height: 30px;
    width: 345px;
    border-radius: 10px;
    border-width: 2px;
    margin: 7px;
    padding: 5px; 
    background-color: rgb(163, 152, 136);
  }
  
  .noFcn {
    color: red;
    margin-left: 10px;
    font-size: 18px;
  }
  
  #select {
    margin-left: 56px;
  }
  
  #start {
    margin-left: 30px;
  }
  
  #lrg {
    height: 60px;
    background-color: rgb(248, 252, 236);
  }
  
  .blkButtons{
    height: 25px;
    width: 100px;
    margin-top: 12px;
    margin-left: 45px;
    border-radius: 15px;
    background-color: black;
  }
  
  h2 {
    text-align: center;
    color: red;
    margin-left: 19px;
    margin-top: 10px;
  }
  
  #forumsBtn {
    background-color: #f8edc6;
    padding: 10px;
    margin: 10px 10px 10px 120px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
  }
  
  #userBtn {
    background-color: #f8edc6;
    padding: 10px;
    margin: 10px 10px 10px 50px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
  }
  
  .redButton {
    height: 105px;
    width: 105px;
    margin-top: -2px;
    margin-left: 90px;
    transition: all .2s ease-in-out; }
  
  .redButton:hover { 
    transform: scale(1.1);
  }
  
  #forums {
    font-size: 15px;
    color: red;
    text-align: left;
    margin-left: 147px;
    margin-top: -5px;
  }
  
  #user {
    font-size: 15px;
    color: red;
    text-align: left;
    margin-left: 103px;
    margin-top: -5px;
  }
  
  .dropbtn {
      background-color: #f8edc6;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }
  
  .userBtn:hover, .userBtn:focus {
      background-color: black;
  }
  
  .dropdown {
      position: relative;
      display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    /* max-width: 100px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .dropdown-content a {
      color: red;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: seashell;
  }

  .dropdown-content #logoutBtn:hover {
    background-color: seashell;
  }
  
  #userDrpDown {
    margin-left: 5px;
  }
  
  #logoutBtn {
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: black;
    border: none;
  }

  .show {
    display:block;
  }
  
  
  
  #list {
    border: 1px solid black;
    margin-right: 10px;
    padding: 10px;
  }
  
  table {
    border: 1px solid black;
    padding: 10px;
  }
  
  #User {
    border: 1px solid black;
    padding: 10px;
  }
  
  #comment {
    height: 112px;
    border: 1px solid black;
    padding: 10px;
  }