
body {
 background-color:  rgb(75, 72, 72);
}

label, #submitButton, #regReq {
  font-family: 'Audiowide', cursive;
  color: red;
   background-color:rgb(75, 72, 72)
}

#logInForm {
 background-color: #2c2c2c;
  border: rgb(248, 252, 236);
  border-radius: 10px;
  padding: 40px;
}

.form-control {
  border-radius: 10px;
    background-color: rgb(233, 240, 212);
}

.rounded {
border-radius: 15px;
background-color: #2c2c2c;
}

placeholder {
  font-family: 'Titillium Web', sans-serif;
}

#regReq {
  text-align: center;
  font-size: 30px;
  animation-delay: .5s;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

#form {
  border: rgb(248, 252, 236);
  border-radius: 10px;
  padding: 10px;
}

.rounded {
   border-radius: 10px;
}

.formContainer {
  border: none;
  padding: 10px;
  margin-left: 80px;
}

#submitButton {
  background-color: black;;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%
}

.registrationLink {
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: red;
  margin-left: 370px;
}

.loginInHelp {
  font-family: 'Audiowide', cursive;
  color: red;
}

a {
   font-family: 'Audiowide', cursive;
  color: red;
}

#checkbox {
  background-color: #2c2c2c;
}