body {
  background-color:  rgb(75, 72, 72);
}

label, #submitButton, .registrationLink, #regReq, footer {
  font-family: 'Audiowide', cursive;
  color: red;
}

#regReq {
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

#form {
 background-color: #2c2c2c;
  border: rgb(248, 252, 236);
  border-radius: 10px;
  padding: 40px;
}

.rounded {
   border-radius: 10px;
}

.form-control {
   background-color: rgb(233, 240, 212);
}

.formContainer {
  border: none;
  margin-top: 0px;
}

#submitButton {
  background-color: black;;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.registrationLink {
  margin-left: 65px;
  text-align: center;
}

#marioPipe {
  margin-left: 10;
}

#mario {
  width: 400px;
  height: 500px;
  margin-left: 80px;
}

.marioPic {
  border-radius: 10px;
  animation-duration: 1s;
}
