<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=DESKTOP-2T5HS2C;
                         Initial Catalog=Project3;
                         Persist Security Info=True;
                         User ID=Project3;
                         Password=Project31234;
                         Connection Timeout=0;MultipleActiveResultSets=true;" 
       providerName="System.Data.SqlClient" />
</connectionStrings>