<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=project3db.cxnhooasyo17.us-east-1.rds.amazonaws.com;Initial Catalog=Project3;Persist Security Info=True;User ID=Project3;Password=Project31234;Connection Timeout=0;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
</connectionStrings>