body {
    padding-top: 10px;
    padding-bottom: 20px;
    background-image: url("https://www.gamingrebellion.com/wp-content/uploads/2015/08/Star-Tropics-Background.jpg");
  background-repeat: repeat-y;
 
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
 
}

hr {
    color: black;
}

#homePagePic {
    width: 200px;
    height: 500px;
}

#footerText {
    color: red;
    font-family: 'Audiowide', cursive;
    margin-left: 20px;
    padding: 20px;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#logoutForm {
    color: red;
}