<header class="sticky">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img src="images/arrows.jpg">
        </div>
       <div class="col-sm-4">
          <div class="middle"></div>
          <div class="middle"></div>
          <div id="text" class="middle">
            <div class="row">
              <div class="col-sm-6">
                <p id="select" class="noFcn">SELECT</p>
              </div>
              <div class="col-sm-6">
                <p id="start" class="noFcn">START</p>
              </div>
            </div>
          </div>
          <div id="lrg" class="middle">
            <button class="blkButtons"></button>
            <button class="blkButtons"></button>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="row">
            <h2>APP NAME HERE</h2>
          </div>
          <div class="row">
            <div class="col-sm-5 dropdown">
              <img id="forumsBtn" role="button" class="redButton dropbtn" src="images/redButton.png" onclick="showForums()">
              <div id="forumsDrpDwn" class="dropdown-menu dropdown-menu-right">
                <a href="#">FORUMS HOME</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
              <p id="forums">FORUMS</p>
            </div>
            <div class="col-sm-5 dropdown">
              <img id="userBtn" role="button" class="redButton dropbtn" src="images/redButton.png" onclick="showUserMenu()">
              <div id="userDrpDwn" class="dropdown-menu dropdown-menu-right">
                <a href="#">REGISTER</a>
                <a href="#">LOG-IN</a>
                <a href="#">PROFILE</a>
                <a href="#">SIGN-OUT</a>
              </div>
              <p id="user">USER</p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </header>
  