<!-- <!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Press+Start+2P" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="Profile.css">
  <title>Profile</title>
</head>

<body> -->
<div class="inventory container">
  <div class="row">
    <div class="col-sm-3">
      <h1>INVENTORY</h1>
    </div>
    <div id="addGame" class="col-sm-2">
      <button id="gameSearchBtn" type="button" data-toggle="modal" data-target="#gameSearchModal">SEARCHcd  GAMES</button>
    </div>
  </div>
</div>

  <div class="game-grid-container">
    <div id="gameStats" class="row">
      <div class="col-sm-3 gameName">
        <strong>TITLE: </strong>Zelda: Breath of the Wild
      </div>
      <div class="col-sm-2 gameValue">
        <img id="coin" src="https://media0.giphy.com/media/yCyVbqru5Ggfu/giphy.gif">
        <strong>EST. VALUE: </strong> $41.59
      </div>
      <div class="col-sm-2 gameCondition dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <strong id="conditionBtn" role="button">EST. CONDITION: </strong> EXCELLENT
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">
            <img class="lifeHeart" scr="https://pbs.twimg.com/profile_images/554699922138624000/0AopZpk4_400x400.png">
          </a>
          <a class="dropdown-item" href="#">4 HEARTS</a>
          <a class="dropdown-item" href="#">3 HEARTS</a>
          <a class="dropdown-item" href="#">2 HEARTS</a>
          <a class="dropdown-item" href="#">1 HEART</a>
        </div>
      </div>
      <div class="col-sm-2 gamePlatform">
        <strong>PLATFORM: </strong> NES
      </div>
      <div class="col-sm-2 actions">
        <img id="edit" src="https://png.icons8.com/metro/1600/edit-property.png" role="button">
        <img id="save" src="https://cdn4.iconfinder.com/data/icons/STROKE/computer_gadgets/png/400/floppy_disk.png" role="button">
        <img id="delete" src="https://png.icons8.com/metro/1600/delete.png" role="button">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 gameImage">
        <img class='' src="" alt="" />
      </div>
      <br>
      <div class="col-sm-10">
        <p class='gameSummary'>
          <strong>SUMMARY:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto earum voluptatem facere culpa
          quia expedita, sunt eaque officia est nesciunt mollitia aliquam. Neque velit reiciendis blanditiis, perferendis
          ipsam dicta molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto earum voluptatem facere culpa
          quia expedita, sunt eaque officia est nesciunt mollitia aliquam. Neque velit reiciendis blanditiis, perferendis
          ipsam dicta molestiae? Iusto earum voluptatem facere culpa quia expedita, sunt eaque officia est nesciunt mollitia
          aliquam. Neque velit reiciendis blanditiis, perferendis ipsam dicta molestiae?
        </p>
      </div>
    </div>
</div>

  <div class="modal modal fade" id="gameSearchModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">SEARCH GAMES</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <form action="">
                GAME TITLE:
                <br>
                <input class="gameTitle" type="text" name="GameTitle">
                <br>
                </form>
              </div>
              <div id="gameReturn" class="col-sm-8">
                <p>game info populates here.sdfdfsdklndfksnflksndf
                  lsdkfslkfjskljfksljfjsdklfjskljfsjfksjdfkjsdfjslkfslkdfjskldjf
                  sldfjslkjfslkdjfdlkfjslkdjsdlkfsldksjjfdskjfjfkl
                  lsdkfjslkdjfslkjflsdkjfslkjf
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="findGameBtn" type="submit" class="btn btn-primary">FIND GAME</button>
          <button id="addGameBtn" type="submit" class="btn btn-primary" data-dismiss="modal">ADD GAME</button>
        </div>
      </div>
    </div>
  </div>

<!-- </body>
</html> -->