@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@using Project3.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class='container formContainer'>
    
    @if (SignInManager.IsSignedIn(User))
    {
        //whatever you want to show when people are already logged in. the following is a button example for logout, you can get rid of it if you want.
        // <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        //             <button type="submit">Log out</button>
        // </form>
        <div id="welcomeUser" class="row">
            <h4 id="currentUser">WELCOME, @UserManager.GetUserName(User).ToUpper()...
            THE PRINCESS HAS BEEN WAITING FOR YOU, <br><br>
            YOU MAY ENTER THE KINGDOM. 
            GOOD LUCK ON YOUR QUEST!</h4><br>
            <img id="enterPic" class="animated bounceOut" src="/dist/images/kingdom.gif">
        </div>
    }
     else
    {
        <div class="row">
            <div id="" class="col-sm-7">
                <h1 id="cartCatalog">CART CATALOG</h1>
                <hr class="animated slideInRight">
                <h4 id="about">
                YOUR ONE STOP SHOP FOR EVERYTHING RETRO GAMES AND RETRO GAMING!</h4>
                <h4 class="highlights1">YOU WILL FEEL RIGHT AT HOME WITH OTHER RETRO GAMERS!</h4><br><br>
                <h4 class="highlights animated zoomIn"><img class="flowerPic" src="/dist/images/fireFlower.png"> CATALOG YOUR COLLECTION</h4>
                <h4 class="highlights2 animated zoomIn"><img class="flowerPic" src="/dist/images/fireFlower.png"> KEEP AN UPDATED VALUE OF YOUR COLLECTION</h4>
                <h4 class="highlights3 animated zoomIn"><img class="flowerPic" src="/dist/images/fireFlower.png"> NEVER FORGET WHICH GAMES YOU HAVE</h4>
                <h4 class="highlights4 animated zoomIn"><img class="flowerPic" src="/dist/images/fireFlower.png"> SHOW OFF YOUR COLLECTION TO FELLOW GAMERS</h4>
                <h4 class="highlights5 animated zoomIn"><img class="flowerPic" src="/dist/images/fireFlower.png"> JOIN THE GROWING FORUMS</h4><br>
                
            </div>
            <div class="col-sm-5"> 
                <img id="homePagePic" src="/dist/images/cartcatalog.png">
            </div>
        </div>
        
         
    } 
   
</div>