@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "FORGOT YOUR PASSWORD?";
}

<h2>@ViewData["Title"]</h2>
<h4>ENTER YOUR EMAIL</h4><br>
<div id="info" class="row enterInfo">
    <div>
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="email" asp-for="Email">EMAIL:</label>
                <input class="" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default submitBtn">SUBMIT</button>
        </form>
        <br>
        <br>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
