@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div id="main" class='container formContainer'>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="flash" id="regReq">
                WAIT... THE PRINCESS REQUESTS THAT YOU REGISTER OR LOGIN BEFORE ENTERING THE KINGDOM!
            </h1>
            <br>
        </div>
    </div>
    <div id="logInForm" class="row">
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group">
                <label asp-for="Email" class="rounded">EMAIL ADDRESS</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="rounded">PASSWORD</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input type="checkbox" asp-for=" RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" id='submitButton'>LOGIN</button>
            </div>
            <div class="form-group">
                <p class="loginInHelp">
                    <a asp-action="ForgotPassword">FORGOT YOUR PASSWORD</a>
                </p>
                <p class="loginInHelp">
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">REGISTER AS A NEW USER?</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
